<h1>Tiling</h1>

<p>This app generates tilings of the plane using finite sets of tiles.</p>

<h2>Usage</h2>

<ul>
    <li>Rotate your iOS device through physical space and watch as the tilings morph on the screen.</li>
    <li>Drag your finger on the screen to scroll the tiling.</li>
    <li>Press and hold to bring up a menu of options.</li>
</ul>

<h3>What follows is some mathsy explanation if you are interested.</h3>

<p>This app shows a visualisation of slicing an n-dimensional lattice of points with a 2-dimensional plane. As you rotate your iOS device, you are rotating this plane through n-space. Certain points from the lattice are projected onto the plane, forming the vertices in the tiling. The lattice points that are selected are those lying inside any n-dimensional hypercube of unit edge length, oriented parallel to the lattice, whose centre lies on the plane.</p>

<hr />

<p>Version {VERSION_STRING}<br/>
Copyright © 2015, Ruben Zilibowitz.<br/>
All rights reserved.</p>
